<!-- gallery/templates/gallery/contact.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
</head>
<body>
    <header>
        <h1>Contact Information</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>
    <div class="container">
        <hr>
        <p>You can reach me at:</p>
        <ul>
            <li>Email: <a href="mailto:ayansarkar1829.com">youremail@example.com</a></li>
            <!-- <li>Phone: 123-456-7890</li> -->
            <!-- Add more contact details as needed -->
        </ul>
    </div>
</body>
</html>
