{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
</head>
<body>
    <header>
        <h1>Login</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
        </nav>
    </header>
    <div class="container">
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
